@font-face {
  src: url('assets/fonts/Lato/Lato-Regular.ttf');
  font-family: lato;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 350px;
  font-family: lato, sans-serif, tahoma;
  margin: 0px;
  padding: 0px;
}

body img {
  width: 100%;
}

body a {
  text-decoration: none;
}

header {
  display: flex;
}

.logo-holder {
  max-width: 100px;
  flex: 1;
}

.header-div {
  flex: auto;
}

.main-nav {
  display: flex;
}

.nav-item {
  padding: 10px;
  text-align: center;
}

.main-title {
  padding: 10px;
}

header .active {
  border-bottom: solid 4px red;
}

.dropdown {
  position: relative;
}

.dropdown-list {
  position: absolute;
  border: solid thin #ccc;
  background-color: white;
  margin-top: 10px;
}

.hero {
  height: 500px;
  object-fit: cover;
}

.content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.music-card img {
  height: 200px;
  object-fit: cover;
}

.music-card {
  width: 200px;
  margin: 20px;
  background-color: #eee;
}

.music-card img {
  height: 200px;
  object-fit: cover;
  transition: all .5s ease;
}

.music-card img:hover {
  transform: scale(1.3)
}

.card-content {
  padding: 4px;
}

.card-title {
  font-size: 18px;
}

.card-subtitle {
  opacity: 0.7;
}